@import "tailwindcss";

/* in your globals.css or tailwind base layer */
[data-state='open'] button.bg-red-600 {
  color: white !important;
}
button.bg-blue-600 {
  color: white !important;
}
button.bg-orange-600 {
  color: white !important;
}
button.bg-green-600 {
  color: white !important;
}
button{
  cursor: pointer !important;
}
[role='dialog']{  
  background-color:#fff
}