.pdf-alignment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.pdf-alignment span {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}