.hiring-partner-container {
    margin-top: 13vh;
}

.stepper-container {
    width: 100%;
    overflow-x: auto;
}

.hr-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.hr-form {
    width: 100%;
    max-width: 550px;
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #EB6A4D;
    margin-top: 25px;
    margin-bottom: 10vh;
}

.hr-form-subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #EB6A4D;
}

.form-title {
    font-size: 30px;
    font-weight: 600;
}

.hr-success {
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
}

.hr-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 20px;
}

.hr-form-span {
    color: red;
}

.hr-label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #3a3a3a;
}

.hr-input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #EB6A4D;
    width: 100%;
    margin-bottom: 16px;
    padding-left: 12px;
    font-size: 14px;
    background-color: transparent;
    outline: none;
}

.hr-oval {
    margin-right: 5px;
}

.hr-textarea {
    border-radius: 5px;
    border: 1px solid #EB6A4D;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    padding-left: 12px;
    font-size: 14px;
    outline: none;
    min-height: 100px;
    padding-top: 12px;
}

.hr-input-con {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #EB6A4D;
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-input-sub {
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    padding-left: 12px;
    height: 100%;
    border-radius: 5px;
}

.hr-input-select {
    height: 100%;
    border: 0px;
    width: 100%;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 14px;
    outline: none;
}

.phone-select {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.hr-form-btn {
    background-color: #EB6A4D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    /* width: 100%; */
    font-weight: 600;
    margin-top: 10px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip-button {
    margin-top: 0px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.hr-form-btn-more {
    background-color: transparent;
    color: #EB6A4D;
    border: 1px solid #EB6A4D;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    height: 35px;
    width: fit-content;
    align-self: flex-end;
    margin-bottom: 10px;
}

.hr-form-btn-add {
    background-color: #EB6A4D;
    color: #ffffff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    height: 35px;
    justify-content: center;
    width: fit-content;
}

.hr-input-list-con {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.hr-input-list {
    display: flex;
    align-items: center;
    border: 1px solid #EB6A4D;
    border-radius: 5px;
    padding-left: 6px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.hr-input-list-item {
    font-size: 12px;
    color: #EB6A4D;
    font-weight: 500;
}

.hr-close-icon {
    font-size: 22px;
    color: #3a3a3a;
}

.hr-remove-item-button {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.hr-checkbox-con {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hr-input-checkbox-con {
    padding-left: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.hr-checkbox {
    height: 15px;
    cursor: pointer;
    width: 15px;
    margin-right: 8px;
}

.hr-checkbox-label {
    font-size: 14px;
    font-weight: 600;
    color: #3a3a3a;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.hr-submit-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person-label {
    font-size: 15px;
    font-weight: 600;
    color: #EB6A4D;
    margin: 10px 0px;
}

.aadhar-con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.aadhar-label {
    border: 2px dashed #EB6A4D;
    border-radius: 5px;
    color: #EB6A4D;
    font-size: 13px;
    padding: 8px;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.hr-error {
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin-top: -13px;
    margin-bottom: 8px;
}

.hr-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}

.hr-radio-label {
    margin-bottom: 6px;
}

.hr-main-error {
    text-align: center;
    color: red;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}

.hr-size {
    font-size: 10px;
    font-weight: 500;
    margin-top: -12px;
    margin-bottom: 10px;
    color: #EB6A4D;
}

.success-counter-message {
    font-size: 14px;
    font-weight: 600;
    color: #030324;
    text-align: center;
}

.counter-span {
    color: #EB6A4D;
    font-size: 24px;
    margin: 0px 2px;
}

.hr-address-input-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hr-address-input {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.address-label {
    font-size: 15px;
    margin-bottom: 12px;
    border-bottom: 1px solid #EB6A4D;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .hr-form {
        width: 90%;
        max-width: 550px;
    }
    .form-title {
        font-size: 22px;
    }
    .hr-success-container {
        padding: 10px;
    }
    .hiring-partner-container {
        margin-top: 10vh;
    }
    .hr-form-container {
        margin-top: 15px;
    }
 }

@media screen and (min-width: 1024px) {
    .hr-form {
        width: 100%;
        max-width: 550px;
    }
}